/* 
    For the styling/UI:
     - need to add fonts + weights;
     - center blocks, etc. to make sure they look good on the screen;
     - add shadows/color change for buttons on hovering;
     - add support for smaller/mobile devices;
*/

body {
    background-color: #243447;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #E0E0E0;
}

a{
    text-decoration: none;
    color: #E0E0E0;
}

.buttonStyle {
    color: #E0E0E0;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 600;
    border: 0;
}

#startGameButton {
    background-color: #4A6780;
}

#endGameButton {
    background-color: #804A4A;
}

#resetGameButton {
    background-color: #66747A;
}

.text {
    color: #E0E0E0;
    font-size: 20px;
}

.inactive {
    display: none;
}

.gameButtonsClass {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.choiceButton {
    border-radius: 50%;
    border: 5px solid #691656;
    padding: 10px 15px;

    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
}