body {
    background-color: #243447;
}

h1 {
    color: #E0E0E0;
}

.text {
    color: #E0E0E0;
    font-size: 20px;
}

.inactive{
    display: none;
}

.choiceButton {
    border-radius: 50%;
    border: 5px solid #691656;
    padding: 0;

    max-width: 100px;
    max-height: 100px;
}

img {
    display: flex;
    align-items: center;

    max-width: 90px;
    max-height: 90px;
}